extends ../layout

block content
  form(action="/user/login", method="post")
      label(data-name='name')
          | Name
          input(type="text", name="name", value="jangot")
          span.errorBlock
      label(data-name='password')
          | Password
          input(type="password", name="password", value="111")
          span.errorBlock
      input(type="submit", value="Send")