div.guitarItem
    table
        tr
            th brand
            th name
            th neck
            th deck
        tr
            td= guitar.brand
            td= guitar.model
            td= guitar.neck_material
            td= guitar.deck_material